* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  background-color: rgb(79, 76, 76);
  height: 100vh;
  font-family: sans-serif;
  padding: 20px;
}
h1 {
  text-align: center;
}

/** /////////////////////////////////////////// */
/** Grid Container */
.container {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  background-color: #eee7e7;
  width: 90%;
  margin: 50px auto;

  display: grid;
  grid-template-columns: repeat(3, [col-start] 1fr [col-end]);
  grid-template-rows: [header-start]120px[header-end menu-start] 60px[menu-end box-start] 100px[box-end content-start] 400px[content-end footer-start] 50px[footer-end];

  grid-gap: 15px;
}

/** /////////////////////////////////////////// */
/** Grid Items */

.header {
  background-color: orangered;
  grid-row: header-start / header-end;
  grid-column: col-start 1 / col-end 3;

  /*? Above code using grid line */
  /* grid-area: 1 / 1 / 2 /-1; */
}

.menu {
  background-color: yellowgreen;
  grid-row: menu-start/menu-end;
  grid-column: col-start 1 / col-end 3;

  /*? Above code using grid line */
  /* grid-area: 2 / 1 /3 / -1; */
}

.box1 {
  background-color: slateblue;
}

.box2 {
  background-color: hotpink;
}

.sidebar {
  background-color: royalblue;
  grid-row: box-start/content-end;
  grid-column: col-start 3 / col-end 3;

  /*? Above code using grid line */
  /* grid-area: 3 / 3 / 5 / 4; */
}

.content {
  background-color: rgba(9, 177, 132, 0.759);
  grid-row: content-start/ content-end;
  grid-column: col-start 1 / col-end 2;

  /*? Above code using grid line */
  /* grid-area: 4 / 1 / 4 / 3; */
}

.footer {
  background-color: goldenrod;
  grid-row: footer-start/ footer-end;
  grid-column: col-start 1 / col-end 3;

  /*? Above code using grid line */
  /* grid-area: 5 / 1 / 6 / -1; */
}
